@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;700&display=swap");

:root {
  --green: #05414f;
  --white: #f0f0f0;
  --green-rgb: 5, 65, 79;

  --montserrat: "Montserrat", sans-serif;
  --cinzel: "Cinzel", serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  overflow-y: auto; /* Enable vertical scrolling when needed */
}

body {
  color: var(--white);
  background: var(--green);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body::-webkit-scrollbar {
  width: 0px; /* Set the width to 0 to hide it */
}
