.page {
  background-image: url("../public/images/mainImg.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.pageContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainTextContainer {
  margin-top: 300px;
  margin-bottom: 200px;
}
